.feedback {
	.cell {
		position      : absolute;
		width         : max(40%, 20rem);
		right         : 50%;
		transform     : translate(50%, -50%);
		z-index       : 10;
		top           : 50%;
		display       : none;
		padding-inline: 1rem;
		padding-block : 0.25rem 0.75rem;
		margin-block  : 1rem;
		box-shadow    : 0 8px 32px 0 rgb(100 100 100 / 0.25);
		border-radius : 16px;
		background    : #FFF;
		border        : 0 #e2e8f0 solid;
		box-shadow    : 0 20px 25px -5px rgb(0 0 0 / 0.1),
			0 10px 10px -5px rgb(0 0 0 / 0.04);


		.panel {
			color   : #666;
			position: relative;
		}

		header {
			display: block;
			padding: 1em 0;

			h1 {
				--font-size-h1: clamp(40px, 20px + 1.04vw, 60px);

				@media (max-width: 1919px) {
					--font-size-h1: clamp(34px, 32.54px + 0.39vw, 40px);
				}

				font-family : "Roboto Slab",
				sans-serif;
				text-rendering: optimizeLegibility;
				text-align    : center;
				line-height   : 1.4em;
				margin        : 0;
				font-size     : var(--font-size-h1);
				font-weight   : 100;
				color         : #131313;
			}
		}

		p {
			--font-size-p: clamp(20px, 12px + 0.31vw, 26px);

			@media (max-width: 1919px) {
				--font-size-p: clamp(16px, 15.51px + 0.13vw, 18px);
			}

			font-family: "Roboto Slab",
			sans-serif;
			font-size  : var(--font-size-p);
			line-height: 1.6;
			text-align : center;
			color      : #666;
			margin     : 0 8% 0.75em;
			position   : relative;
			z-index    : 1;
		}

		// Ссылки
		div.links {
			font-family: "Roboto Slab", sans-serif;
			text-align : center;
			color      : #666;
			display    : block;
			position   : relative;
			z-index    : 1;
			display    : flex;
			gap        : 1rem;
			margin-top : min(3rem, 3%);

			a {
				--font-size-a: clamp(22px, 19px + 0.31vw, 30px);

				@media screen and (max-width: 1919px) {
					--font-size-a: clamp(20px, 24.27px + 0.19vw, 22px);
				}

				width          : 50%;
				line-height    : 1.4em;
				text-decoration: none;
				color          : #444cf7;
				transition     : color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
				background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
				opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
				font-size      : var(--font-size-a);
				font-family    : sans-serif;
				border-top     : 1px solid rgb(0 0 0 / 0.2);
				border-radius  : 16px;
				padding        : 1rem;
				background-clip: padding-box;
				display        : flex;
				justify-content: center;
				align-items    : center;
				box-shadow     : 0 0 8px 4px rgb(0 0 0 / 0.1);

				&:hover {
					background-color: #444cf7;
					color           : #FFF;
				}

				&:active {
					filter: brightness(90%);
				}
			}
		}
	}

	// Кнопка
	.toggle {
		vertical-align  : baseline;
		cursor          : pointer;
		font-size       : 1.3333em;
		line-height     : 45.6px;
		font-family     : Dosis, sans-serif;
		background-color: #F2F2F2;
		font-weight     : 600;
		outline         : none;
		border          : none;
		border-radius   : 28px;
		background-clip : padding-box;
		height          : 56px;
		width           : 56px;
		transition      : color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		transform       : translateX(-4px);
		box-shadow      : 0 2px 8px rgb(0 0 0 / 0.6);
		position        : absolute;
		left            : 50%;
		margin          : -24px;
		bottom          : 12%;
		z-index         : 10;

		.cross {
			-webkit-text-size-adjust: 100%;
			cursor                  : pointer;
			-webkit-font-smoothing  : antialiased;
			font-size               : 1.3333em;
			line-height             : 45.6px;
			font-family             : Dosis, sans-serif;
			font-weight             : 600;
			transition              : all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

			.x {
				-webkit-text-size-adjust: 100%;
				cursor                  : pointer;
				-webkit-font-smoothing  : antialiased;
				font-size               : 1.3333em;
				line-height             : 45.6px;
				position                : absolute;
				left                    : 50%;
				top                     : 50%;
				transform               : rotate(45deg);
				font-family             : Dosis, sans-serif;
				font-weight             : 600;
				transition              : all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
				border-radius           : 2px;
				background-clip         : padding-box;
				background-color        : #1D1F27;
				height                  : 4px;
				margin                  : -2px;
				margin-left             : -12px;
				margin-top              : -2px;
				width                   : 24px;
			}

			.y {
				-webkit-text-size-adjust: 100%;
				cursor                  : pointer;
				-webkit-font-smoothing  : antialiased;
				position                : absolute;
				left                    : 50%;
				top                     : 50%;
				transform               : rotate(45deg);
				font-size               : 1.3333em;
				line-height             : 45.6px;
				font-family             : Dosis, sans-serif;
				font-weight             : 600;
				transition              : all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
				border-radius           : 2px;
				background-clip         : padding-box;
				background-color        : #1D1F27;
				width                   : 4px;
				margin                  : -2px;
				margin-top              : -12px;
				height                  : 24px;
			}

			.i {
				position: static;
				left    : 25px;
				top     : 6px;
			}
		}

		&:hover {
			background-color: #D92400;
			color           : #FFF;

			.cross .x,
			.cross .y {
				background-color: #FFF;
			}
		}
	}
}