.layersContainer {
  grid-area       : content;
  background-color: black;
  position        : relative;
  min-height      : 100vh;

  .placeholder {
    text-align: center;
    top       : 50% !important;
    left      : 50% !important;
    transform : translate(-50%, -100%) !important;
    position  : absolute !important;
  }
}