.effectContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 0.5rem 1rem;
  border         : 2px dashed transparent;
  gap            : 1rem;

  .slider {
    -webkit-appearance: none;
    appearance        : none;
    height            : 20px;
    border-radius     : 5px;
    background        : var(--active-color, #4CAF50);
    outline           : none;
    margin-bottom     : 5px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance        : none;
      width             : 25px;
      height            : 25px;
      border-radius     : 50%;
      background        : white;
      cursor            : pointer;
    }

    &::-moz-range-thumb {
      width        : 25px;
      height       : 25px;
      border-radius: 50%;
      background   : white;
      cursor       : pointer;
    }
  }

  &:hover {
    border-color: var(--active-color);
  }

  .optionsContainer {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
  }
}