.effectContainer {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : 0.5rem 1rem;
  border         : 2px dashed transparent;
  gap            : 1rem;

  input {
    min-width: 100%;
  }

  &:hover {
    border-color: var(--active-color);
  }

  .optionsContainer {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
  }
}