.editorHeader {
  grid-area       : header;
  background-color: var(--elements-background-color);
  border-bottom   : 1px solid var(--elements-background-color);
  display         : flex;
  flex-direction  : row;
  justify-content : flex-end;
  align-items     : center;
  gap             : 5vmax;
  padding-inline  : 5vmax;
  padding-block   : 1rem;
  z-index         : 2;

  .profileContainer {
    position    : relative;
    height      : 100%;
    aspect-ratio: 1/1;
  }

  .publishedUrlContainer {
    width   : 50%;
    position: relative;
  }

  .publishedUrl {
    width         : 100%;
    line-height   : 40px;
    font-size     : 20px;
    font-family   : monospace;
    background    : var(--primary-color);
    color         : var(--secondary-color);
    padding-inline: 3rem;
    border-radius : 45px;
    border        : none;

    &:hover {
      cursor: copy;
    }

    &:focus {
      outline-color: var(--text-action-color);
      color        : var(--text-action-color);
    }
  }

  .copyPublishedUrl {
    position     : absolute;
    right        : 0;
    width        : 20ch;
    display      : inline-block;
    outline      : none;
    font-weight  : 600;
    border-radius: 0 50px 50px 0;
    border       : 0;
    color        : var(--text-color);
    background   : var(--secondary-color);
    padding      : 12px 24px;
    line-height  : 1.15;
    font-size    : 16px;
    cursor       : pointer;
    transition   : width 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53), border-radius 0.5s ease-in-out;

    &:focus {
      border-left: none;
    }

    &:not(:disabled):active {
      border-radius: 50px;
      width        : calc(50% - 5vmax + 1px);
      outline      : none;
    }
  }

  .publish {
    position   : relative;
    padding    : 0 1rem;
    transition : all 0.2s ease;
    border     : none;
    background : none;
    display    : flex;
    align-items: baseline;
    font-size  : 15px;
    cursor     : pointer;

    &::before {
      content      : "";
      position     : absolute;
      top          : -75%;
      left         : 0;
      display      : block;
      border-radius: 50px;
      background   : var(--secondary-color);
      width        : 42px;
      height       : 42px;
      transition   : all 0.3s ease;
    }

    span {
      position      : relative;
      font-family   : Ubuntu, sans-serif;
      font-size     : 15px;
      font-weight   : 700;
      letter-spacing: 0.05em;
      color         : var(--text-action-color);
    }

    svg {
      position       : relative;
      top            : 0;
      margin-left    : 10px;
      fill           : none;
      stroke-linecap : round;
      stroke-linejoin: round;
      stroke         : var(--text-action-color);
      stroke-width   : 2;
      transform      : translateX(-5px);
      transition     : all 0.3s ease;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover svg {
      transform: translateX(0);
    }

    &:active {
      transform: scale(0.95);

      &::before {
        background: var(--secondary-color);
      }

      span,
      svg {
        color : var(--elements-background-color);
        stroke: var(--elements-background-color);
      }
    }
  }

  @media (prefers-color-scheme: light) {
    .copyPublishedUrl {
      color: var(--primary-color);
    }

    .publish {
      ::before {
        background: var(--primary-color);
      }
    }
  }
}