.layersContainer {
  background-color: black;
  position        : relative;
  height          : 100%;


  .placeholder {
    text-align: center;
    top       : 50% !important;
    left      : 50% !important;
    transform : translate(-50%, -100%) !important;
    position  : absolute !important;
  }
}

.layersContainerWrapper {
  grid-area: content;

  @media screen and (max-width: 767px) {
    overflow: hidden;
    height  : 25vh;
    top     : 5vh;
    width   : 100vw;
    position: fixed;
    z-index : 4;
  }
}