.editorContainer {
  display: grid;
}

.editorTime {
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows   : 10vh 90vh;
  grid-template-areas  :
    "header header header"
    "effects content layers";
}

.showTime {
  background-color        : black;
  // grid-template-columns: 15vw 70vw 15vw;
  grid-template-columns   : 0 1fr 0;
  grid-template-rows      : 100vh;
  grid-template-areas     :
    "effects content layers";
}