.editorContainer {
  display              : grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows   : 10vh 90vh;
  grid-template-areas  :
    "header header header"
    "effects content layers";
}

.feedBack {
  position: absolute;
  bottom  : 0;
  display : none;
}