.editorContainer {
  display: grid;
}

.editorTime {
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows   : 8.75vh 92.5vh;
  grid-template-areas  :
    "header header header"
    "effects content layers";
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .editorTime {
    grid-template-columns: 6fr 2fr;
    grid-template-rows   : 8.75vh calc(92.5vh / 2) calc(92.5vh / 2);
    grid-template-areas  :
      "header header"
      "content effects"
      "content layers";
  }
}

@media screen and (max-width: 767px) {
  .editorTime {
    grid-template-columns: auto;
    grid-template-rows   : 8.75vh auto auto auto;
    grid-template-areas  :
      "header"
      "content"
      "layers"
      "effects";
  }
}


.showTime {
  background-color: black;

  // grid-template-columns: 15vw 70vw 15vw;
  grid-template-columns: 0 1fr 0;
  grid-template-rows   : 100vh;
  grid-template-areas  :
    "effects content layers";
}