.effectContainer {
  display        : flex;
  justify-content: space-between;
  padding        : 0.5rem 1rem;
  border         : 2px dashed transparent;
  gap            : 1rem;

  &:hover {
    border-color: var(--active-color);
  }

  .optionsContainer {
    display        : flex;
    justify-content: space-between;
    flex-direction : row;
  }
}